#contact-tag {
  background: $background;
  position: fixed;
  z-index: 100;
  right: 0;
  top: 27.3rem;
  width: 13rem;
  height: 6rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  transform: translateX(60%);
  transition: 0.4s ease-in-out;
  a {
    display: grid;
    grid-template-columns: 1fr 3fr;
    font-size: 2rem;
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    color: $lightGray;
    text-decoration: none;
    i {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 4rem;
      padding-left: 1rem;
    }
  }
}
#contact-tag:hover {
  transform: translatex(0%);
}
