.navbar-wrapper {
  display: flex;
  position: sticky;
  min-height: 10vh;
  height: auto;
  width: 100%;
  top: 0;
  padding: 2rem;
  background: $background;
  flex-wrap: wrap;

  z-index: 200;

  .navbar-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 30rem;
    overflow: hidden;
    height: auto;
    h1 {
      color: $lightGray;
      font-size: $regular;
    }
  }

  .links {
    flex: 1 1 40rem;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .link-wrapper {
      a {
        font-size: $regular;
        color: white;
        text-decoration: none;
        border-bottom: transparent;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
      }
      a:hover {
        color: $red;
      }
      .active-link {
        border-bottom: 5px solid red;
        border-radius: 10px;
      }
    }
    .menu-wrapper {
      display: none;
    }
  }
}
