$bigtext: calc(5rem + 1vw);
//scaling pixels
$large: calc(3rem + 1vw);
$regular: calc(2rem + 1vw);
$small: calc(1rem + 1vw);

//h1 sizing
$h1: calc(4rem + 1vw);
$h2: calc(3rem + 1vw);
$h3: calc(2.5rem + 1vw);
$h4: calc(2rem + 1vw);

// Background colors
$background: #2b2d42;
$gray: #8d99ae;
$lightGray: #edf2f4;
$lightRed: #ef233c;
$red: #d90429;
