$bigtext: 8rem;
$large: 6rem;
$regular: 4rem;
$small: 2rem;

//h1 sizing
$h1: 4rem;
$h2: 3rem;
$h3: 2.5rem;
$h4: 2rem;

// Background colors
$background: #2b2d42;
$gray: #8d99ae;
$lightGray: #edf2f4;
$lightRed: #ef233c;
$red: #d90429;
